#u146
{
	border-style: none;
	border-color: transparent;
	background-color: #42410B;
	position: relative;
}

#u145-4
{
	background-color: transparent;
	line-height: 65px;
	font-size: 54px;
	color: #FFFFFF;
	font-family: alex-brush, cursive;
	font-weight: 400;
	position: relative;
}

#u151-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	position: relative;
}

